{
  "slack": {
    "incoming": "https://hooks.slack.com/services/ABCDEFGH/IJKLMNOPQ/ABCD123456"
  },
  "watch": [
    {
      "dir": "/watch/directory",
      "url": "http://host.domain/path/to/contents"
    }
  ]
}